@font-face{
font-family: allcaps;
src: url('AllCaps.ttf');
}
@font-face{
font-family: Barrelhouse All Caps;
src:url('Barrelhouse All Caps.ttf');
}

#content {
    width: 50em;
    margin-left: auto;
    margin-right: auto;
} 

div{
	margin-left:auto;
	margin-right:auto;
}

body{
	background-image: url('texas_holdem.jpg');
}

#gameCanvas {
	border: 2px solid #888888;
	border-radius:40px;
        margin-left: auto;
        margin-right: auto;
	background-color:#FF3333;
	margin-top:1em;
	margin-bottom:0.5em;
	width: 950px;
	height: 550px;
	padding: .5em;
	box-shadow: 15px 15px 7px #888888;
	border: 10px;
}

h1{
	border: 2px solid #888888;
	border-radius:40px;
	margin-left: auto;
        margin-right: auto;
	width: 10em;
	text-shadow: 5px 5px 5px #888888;
	text-align: center;
	font-size: 3em;
	word-spacing: .3em;
	background-color: #4D4DFF;
	font-family:Barrelhouse All Caps;
	padding: .5em;
}

h2{
	border: 2px solid #888888;
	border-radius:40px;
/* Rotate h2 */
transform:rotate(5deg);
-ms-transform:rotate(5deg); /* IE 9 */
-moz-transform:rotate(5deg); /* Firefox */
-webkit-transform:rotate(5deg); /* Safari and Chrome */
-o-transform:rotate(5deg); /* Opera */
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	background-color: #CCE6FF;
	font-family:allcaps;
	width:15em;
	padding: .5em;
}

h2:hover{
transition: width 2s, height 2s, transform 2s;
-moz-transition: width 2s, height 2s, -moz-transform 2s;
-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
-o-transition: width 2s, height 2s,-o-transform 2s;
transform:rotate(360deg);
-moz-transform:rotate(360deg); /* Firefox 4 */
-webkit-transform:rotate(360deg); /* Safari and Chrome */
-o-transform:rotate(360deg); /* Opera */
} 

#enterName {
    margin-left: auto;
    margin-right: auto;
	background-color:#FF3333;
	margin-top:0.2em;
	margin-bottom:0.5em;
	width: 20em;
	padding: .5em;
	box-shadow: 15px 15px 7px #888888;
}

#scoreOutput {
	background-color:#FF3333;
	margin-top:0.2em;
	margin-bottom:0.2em;
	width: 15em;
	padding: .5em;
}

footer {
    margin-left: auto;
    margin-right: auto;
	background-color:rgba(0,3,3, 0.4);
	margin-top:2em;
	margin-bottom:2em;
	width: 30em;
	padding: .5em;
	text-align: center;
}

button {
	width:196px;
	height:34px;
        display: inline;
}

a:visited{ color:red }
a:link{ color:#9ACD32 }
